@import "tailwindcss";

@layer base {
  button,
  [role="button"],
  a,
  select,
  summary,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    cursor: pointer;
  }

  button:disabled,
  [type="button"]:disabled,
  [type="reset"]:disabled,
  [type="submit"]:disabled {
    cursor: not-allowed;
  }
}
